body{
  background-color: #ede0c0;
}
a{
  color: #e3685d;
}
iframe{
  margin: 10px;
}
a:hover{
  color: #b54136;
  text-decoration: underline;
}
.img-fluid{
  margin-bottom: 20px;
}
.askButton{
  display:none;
  margin-bottom: 4px;
}
.collapseHead{
  background-color:#e35a3d;
  color:#edddc0;
  padding: 4px;
}
.collapseBody{
  padding: 20px 15px 10px 15px;
  background-color: #faf2e3;
  color:#524132;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #524132 ;
}
.contactIcon{
  font-size: 100px;
  color:#e35a3d;
}
.customButton{
  background-color:#e35a3d;
  color:#edddc0;
  border: none;
}
.customButton:hover{
  background-color:#d94223;
}
.docsFrame{
  width: 100%;
  height: 100%;
  border: 1px solid #524132;
}
.google-slides-container{
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.topHeader{
  background-color:#e35a3d;
  color:#edddc0;
  text-align: center;
  margin-bottom: 20px;
}
.smallIcon{
  width: 175px;
  height: 175px;
}
.siteBorder{
  border: 1px solid #524132;
}
.skillsCol{
  text-align: center;
}
.section{
  margin-top: 50px;
}
.showUnder{
  z-index: -1;
  border-radius: 100%;
  height: 250px;
  width: 250px;
  display: none;
}
.pText{
  text-align: center;
}
.faceIcon{
  border-radius: 100%;
  height: 250px;
  width: 250px;
  display: inline-block;
}
.faceIcon:hover{
  animation: faceHover 0.5s 1 forwards;
}
@keyframes faceHover{
  from {
    height:250px;
    width:250px;}
  to {
    height: 260px;
    width: 260px;}
}
.introDiv{
  text-align: center;
  position: relative;
}
.introRow{
  margin-top: 30px;
}
.navbar{
  background-color: #f26b50;
}
.textBlurb{
  padding-top: 50px;
}
.chatBox{
  text-align: left;
  margin-top: 20px;
  background-color: #2a343d;
  padding: 10px;
  color: #ffccbf;
  border: 1px solid black;
  display: none;
  overflow-y:auto;
  height: 150px;
}
.qInput:hover{
  background-color: #543735;
}
#AMA{
  margin: 20px;
  display: none;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  padding: 5px;
}
#AMA:focus{
  background-color: #4b4d54;
  color: white;
}
